@font-face {
  font-family: 'UTM Duepuntozero';
  src: url('font/UTM Duepuntozero.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Duepuntozero Bold';
  src: url('font/UTM DuepuntozeroBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'UTM Duepuntozero Bold', sans-serif;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.header-top {
    background-color: #f95512;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 25px;
}
.header-main {
    background-color: #272f54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 20px ;/* treen phai duoi trai */
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.menu>li {
    display: inline-block;
    text-transform: uppercase;
}
.menu>li>a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px ;/* neu nhu co 2 gia tri thi se la tren duoi va trai phai */
}
.form-search-input {
    border: 1px solid #cccccc;
}
.form-search-btn {
    background-color: #272f54;
    color: #fff;
    border: 1px solid #f95512;
}
.menu>li>a:hover {
    text-decoration: underline;
}
.content .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* don vi fraction */
    grid-gap: 30px;

}
.content .col {
    border: 1px solid #f95512;
    padding: 10px 25px;
}
.content .title {
    color: #f95512;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.content h3 {
    font-size: 16px;
    color: #f95512;
}
.content p {
    font-size: 13px;
}
.content img {
    transition: transform 2s;
}
.content img:hover {
    transform: scale(1.5); 
    
    /*transition: all .2s ease-in-out;*/
}

footer {
    background-color: #f95512;
    text-align: center;
    padding: 10px 0;
    margin-top: 15px;
}
footer span {
    color: #fff;
    font-size: 13px;
}