body {
    margin: 0px;
    padding: 0px;
}


.container {
    width: 980px;
    margin: 0 auto;
    height: 950px;
    background-color: #ebebeb;
}

.menu {
    text-align: center;
}

.menu ul {
    padding: 0;
    list-style: none;
    border-top: 1px solid rgb(24, 146, 191);
    border-bottom: 1px solid rgb(24, 146, 191);
    justify-content: space-between;
}

.menu ul li {
    position: relative;
    display: inline-flex;
    margin-right: 1px;
    color: #555;
    font-weight: bolder;
    justify-content: space-between;
    padding: 10px 14px;
    text-align: center;
}

.menu ul li::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background: rgb(24, 146, 191);
    transform: skew(-25deg);
}

.menu ul li:first-child::before {
    display: none;
}

.menu ul li:hover {
    background: #eee;
    color: tomato;
}

.title {
    border-bottom: 1px solid rgb(24, 146, 191);
    margin: 20px;
    color: rgb(24, 146, 191);
    font-weight: 200;
}

.form {
    width: 624px;
    height: 545px;
    margin: 0 auto;
}

.label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 0;
    /* font-family: ; */
}

.input {
    display: inline-block;
    width: 341px;
    height: 26px;
    /* margin-bottom: 15px; */
}

.select {
    width: 346px;
    height: 30px;
    margin-left: 2px;
}

.input-select {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.question {
    padding-left: 50px;
}

.checkbox {
    display: flex;
    justify-content: center;
}

.case {
    padding-right: 10px;
}

.submit {
    text-align: right;
}

.content {
    width: 100%;
    display: flex;
    gap: 20px;
}

.image-right img {
    width: 100%;
    height: 568px;
}



.submit {
    /* padding-right: 25px; */
    /* padding: 14px 25px; */
    /* margin: 0; */
    margin-right: 150px;
    margin-top: 20px;
}

.register {
    width: 94px;
    height: 24px;
    border: 1px solid #333;
    background-color: rgb(213, 213, 213);
    color: rgb(24, 146, 191);
}

.register:hover {
    background-color: rgb(190, 190, 190);
    color: rgb(24, 146, 191);   
}


.elements {
    width: 610px;
    height: 117px;
    border-top: 2px solid rgb(24, 146, 191);
    border-bottom: 2px solid rgb(24, 146, 191);
    margin: 0 20px;
}

.title2 {
    color: rgb(24, 146, 191);
    font-weight: 200;
    margin: 8px 20px;
}

.footer {
    border-top: 1px solid rgb(24, 146, 191);
    text-align: center;
    font-size: 13px;
}


.user_name {
    margin-bottom: 15px;
    position: relative;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    top: -20px;
    left: 155px;
}


.pass_word {
    margin-bottom: 15px;
    position: relative;
}

.mail {
    margin-bottom: 15px;
    position: relative;
}

.input-select {
    margin-bottom: 15px;
    position: relative;
}


input[type="range"] {
    -webkit-appearance: none;
    /* Adjust the height as desired */
    border-radius: 2.5px;
    height: 3px;
    /* Adjust the border-radius as desired */
    background-color: #ccc;
    outline: none;
    /* margin-top: 10px; */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

/* Styles for other vendor-specific pseudo-elements */

/* Hover styles */
input[type="range"]::-webkit-slider-thumb:hover{
    background-color: rgb(24, 146, 191);
}